
.nf {
	text-decoration : line-through;
}

.wikititle {
	font-family: Impact, Charcoal, sans-serif;
}

.wikipath {
	font-size: 22px;
}

.fr {
	float:right;
}

.wikivers {
	padding:10px;
	margin: 10px;
}

.allatt {
	padding:10px;
	margin: 10px;
}

.wikibody {
	padding:10px;
	margin: 10px;
}
